@import "../../../var";

.Box {
  padding: $space;
  border-radius: $space;
  color: $color-text;
}

:global(.DarkMode) {
  .Box {
    color: $darkMode-color-text;
  }
}

.Title {
  @include fontH2;
  margin-bottom: $space;
}