@import "../../var";

.About {
  >div {
    margin-top: $space;

    &:first-child {
      margin-top: 0;
    }
  }
}

.TwoColumnGrid {
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 20px) / 2));
  grid-gap: $space;

  @include mobile {
    grid-template-columns: 100%;
  }
}

.TwoColumnFlex {
  @include flex(column, flex-start, flex-start);
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  >*:first-child {
    flex-shrink: 0;
    margin-right: 1rem;
  }

  >*:nth-child(2) {
    padding-left: 1rem;
  }

  @include desktop {
    flex-direction: row;

    >*:nth-child(2) {
      padding-left: 0;
    }
  }
}

.Education {
  :global(.RedBold) {
    width: 91px;
    margin-bottom: 0.2rem;
  }

  :global(.Bold) {
    margin-bottom: 0.2rem;
  }
}

.Experience {
  :global(.RedBold) {
    width: 122px;
    margin-bottom: 0.2rem;
  }

  :global(.Bold) {
    margin-bottom: 0.2rem;
  }

  .List {
    margin-top: 0.2rem;
  }
}

.Skills {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;

  @include mobile {
    grid-template-columns: auto;
  }

  :global(.Bold) {
    width: 100px;
  }

  .TwoColumnFlex {
    >*:nth-child(2) {
      padding-left: 0;
    }
  }
}

.Languages {
  :global(.RedBold) {
    display: inline-block;
    width: 56px;
    margin-right: 1rem;
  }
}