@import "../../../var";

$square: 16px;

.DarkModeSwitch {
  margin-left: $space;
  @include flex(row);

  @include mobile {
    margin: 1rem 0;
  }
}

.SwitchContainer {
  position: relative;
  width: 36px;
  height: 20px;
  margin-right: 0.5rem;
  border: 2px solid $color-text;
  border-radius: 50px;
  cursor: pointer;
  @include flex(row, flex-start);

  @include mobile {
    margin-right: 0.7rem;
  }
}

.Switch {
  width: $square;
  height: $square;
  border: 1px solid $color-element;
  border-radius: 50px;
  background-color: $color-accent;
  transition: all 300ms ease-out;
}

.Label {
  @include fontCaption($bold);

  @include mobile {
    @include fontBody($bold)
  }
}

:global(.DarkMode) {
  .SwitchContainer {
    border-color: $darkMode-color-text;
  }

  .Switch {
    border-color: $darkMode-color-element;
  }
}