@import 'styles/_var';

.container {
  @include flex;

  > * {
    width: 25%;
    height: 25%;
    margin: 1%;
    background-color: $color-primary;
    border-radius: 100%;
    animation: bonce 1.75s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: -0.6s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }
  }
}

@keyframes bonce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
