@import "../../var";

.Achievements {
  >div {
    margin-top: $space;

    &:first-child {
      margin-top: 0;
    }
  }
}

.Title {
  @include fontH2;
  text-align: center;
}

.DetailContainer {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.Competition {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .DetailContainer {
    margin-bottom: 1rem;
  }
}

.ImgContainer {
  padding-left: calc(7px + 0.7rem);
  @include flex(row);

  @include mobile {
    @include flex;
  }

  img {
    width: calc((100% - 1rem) / 2);
    border-radius: 1rem;

    &:first-child {
      margin-right: 1rem;
    }

    @include mobile {
      width: 100%;

      &:first-child {
        margin-bottom: 1rem;
        margin-right: 0;
      }
    }
  }
}