@import "../../var";

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 3rem;
  padding: 0 $space;
  z-index: 10;
  @include flex;

  a {
    cursor: pointer;
  }
}

.Container {
  width: 100%;
  max-width: 960px;
  @include flex(row, space-between);

  &.TabletDesktop {
    @include mobile {
      display: none;
    }
  }

  &.Mobile {
    @include tablet-desktop {
      display: none;
    }
  }
}

.Name {
  @include fontH2;
}

.Link {
  @include flex(row);

  >a {
    margin-right: $space;
    @include fontBody($bold);
    cursor: pointer;
    transition: all 100ms ease-out;

    @include mobile {
      margin: 1rem 0;
      @include fontH2;
    }

    &:hover {
      color: $color-accent;
    }

    &:global(.active) {
      color: $color-accent;
    }
  }

  @include mobile {
    @include flex($align: flex-start);
  }
}

.Dropdown {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 100%;
  min-width: 320px;
  padding: calc(0.5rem + 12px) $space 12px;
  z-index: 9;
  display: none;

  @include mobile {
    @include flex($align: flex-start);
  }
}

.BoxShadow {
  box-shadow: 0 0 0 0.5rem $color-shadow;
  @include darkModeTransition('box-shadow 300ms ease-out, transform ease-in-out 250ms');
}

.Line {
  width: 2px;
  height: 22px;
  border-radius: 10px;
  background-color: $color-text;
}

:global(.DarkMode) {
  .BoxShadow {
    box-shadow: 0 0 0 0.5rem $darkMode-color-shadow;
  }

  .Line {
    background-color: $darkMode-color-text;
  }
}