@import "../../var";

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0 $space;
  z-index: 10;
  @include flex;
}

.BackgroundDropShadowColor {
  background-color: white;
  box-shadow: 0 0 0 0.5rem #EBEBEC;
  @include darkModeTransition;
}

:global(.DarkMode) {
  .BackgroundDropShadowColor {
    background-color: #2E2E2E;
    box-shadow: 0 0 0 0.5rem #262626;
  }

  .Line {
    background-color: white;
  }
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @include mobile {
    padding: $space;
    @include flex(row, flex-end)
  }
}

.BarDesktop {
  width: 100%;
  max-width: 960px;
  @include flex(row, space-between);

  @include mobile {
    display: none;
  }
}

.BarMobile {
  width: 100%;
  @include flex(row, space-between);

  @include tablet-desktop {
    display: none;
  }
}

.Name {
  @include fontH2;
}

.Link {
  @include flex(row);

  >a {
    margin-right: $space;
    @include fontBody($bold);
    transition: all 100ms ease-out;

    @include mobile {
      margin: 1rem 0;
      @include fontH2;
    }

    &:hover {
      color: $color-accent;
    }
  }

  @include mobile {
    @include flex($justify: flex-start, $align: flex-start);
  }
}

.Dropdown {
  display: none;

  @include mobile {
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    z-index: -5;
    padding: calc(0.5rem + 12px) $space 12px;
    @include flex($justify: flex-start, $align: flex-start);
    transition: all ease-in-out 250ms;
    transform: translateY(-100%);

    &.DropdownActive {
      transform: translateY(0);
    }
  }
}

.Line {
  width: 2px;
  height: 22px;
  border-radius: 10px;
  background-color: #282828;
}