@import 'styles/_var';

.link {
  img {
    height: 14px;
    margin-right: 0.3rem;
    position: relative;
    top: 2px;
    border-radius: 2px;
  }

  a {
    color: $color-primary !important;

    &:hover {
      text-decoration: underline;
    }
  }
}
