// Colors
$color-accent: #EF3F4D;
$color-background: #F3F3F4;
$color-element: white;
$color-shadow: #EBEBEC;
$color-text: #282828;
$darkMode-color-background: #1E1E1E;
$darkMode-color-element: #2E2E2E;
$darkMode-color-shadow: #262626;
$darkMode-color-text: white;

//Responsive

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin flex($direction: column, $justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

//Font

@mixin fontH1($weight: $bold) {
  font-size: 3rem;
  font-weight: $weight;
  line-height: 1;
}

@mixin fontH2($weight: $bold) {
  font-size: 1.5rem;
  font-weight: $weight;
  line-height: 1;
}

@mixin fontBody($weight: $regular, $line: 1.5) {
  font-size: 1rem;
  font-weight: $weight;
  line-height: $line;
}

@mixin fontCaption($weight: $regular, $line: 1.4) {
  font-size: 0.8rem;
  font-weight: $weight;
  line-height: $line;
}

//Other

$bold : 700;
$regular : 400;
$space : 20px;

@mixin darkModeTransition($add:"") {
  transition: background-color 300ms ease-out,
  #{$add};
}