@import "./var";
@import "./assets/font/font.scss";
@import "./assets/font/font-awesome/css/font-awesome.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: Prompt;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

body {
  width: 100%;
  min-width: 320px;
  padding: 3.5rem $space 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-background;
  color: $color-text;
  @include fontBody;
  @include flex;
  @include darkModeTransition;
}

#root {
  width: 100%;
  max-width: 960px;
}

.App {
  >* {
    &:nth-child(n+3) {
      padding: $space 0 calc(2rem - #{$space});
    }
  }
}

.ElementBackgroundColor {
  background-color: $color-element;
  @include darkModeTransition;
}

.Detail {
  >div {
    display: inline-block;
  }
}

.RedBold {
  @include fontBody($bold);
  color: $color-accent;
}

.Bold {
  @include fontBody($bold);
}

.RedHightLight {
  display: inline-flex;
  align-items: center;
  height: 30px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  background-color: $color-accent;
  border-radius: 3rem;
  color: white;
  line-height: 1;
  @include fontBody($bold);

  &~* {
    padding-left: 1rem;
  }
}

.DarkMode {
  background-color: $darkMode-color-background;
  color: $darkMode-color-text;

  .ElementBackgroundColor {
    background-color: $darkMode-color-element;
  }
}