@import "./var";
@import "./assets/font/font.css";
@import "./assets/font/font-awesome/css/font-awesome.min.css";

html {
  @include fontBody;
  color: $color-text;
}

body {
  width: 100%;
  padding: 3.5rem $space 0;
  background-color: #f3f3f4;
  @include flex;
}

#root {
  width: 100%;
  max-width: 960px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Prompt;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.App {
  >* {
    &:nth-child(n+3) {
      padding: $space 0 calc(2rem - 20px);
    }
  }
}

a {
  cursor: pointer;
}

.NavActive {
  color: $color-accent;
}

.ElementBackgroundColor {
  background-color: white;
}

.Detail {
  >div {
    display: inline-block;
  }
}

.RedBold {
  @include fontBody($bold);
  color: $color-accent;
}

.Bold {
  @include fontBody($bold);
}

.RedHightLight {
  display: inline-block;
  padding: 0.35rem 1rem;
  @include fontBody($bold);
  line-height: 1;
  color: white;
  background-color: $color-accent;
  border-radius: 3rem;
  margin-bottom: 1rem;

  &~* {
    padding-left: 1rem;
  }
}

.RedBullet {
  position: relative;
  top: 8px;
  left: 0;
  width: 7px;
  height: 7px;
  margin-right: 1rem;
  background-color: $color-accent;
  border-radius: 10px;
  flex-shrink: 0;
}

.Link {
  color: $color-accent;

  .fa {
    margin-right: 0.3rem;
  }

  a {
    color: $color-accent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Caption {
  @include fontCaption;
}